body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  padding: 0;
}


.show {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.hide {
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
  // 네비게이션 숨기기를 위해 pointer-events 속성 추가
}


nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  padding: 10px;
  ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
    li {
      a {
        text-decoration: none;
        color: white;
        &:hover {
          color: #66ccff;
        }
      }
    }
  }
}

.section {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.video-section {
  display: flex;
  align-items: center;
  justify-content: center;
  video {
    width: 100vw;
    height: 100vh;
  }
}

.photo-section {
  display: flex;
  flex-direction: column; /* 이미지를 세로로 나열하기 위해 추가 */
  align-items: center;
  justify-content: center;
  width:100vw;
  height:300vh;
  overflow-y: scroll;
  img {
    width: 100vw;
    height: auto; /* 이미지를 가로 비율에 맞게 높이 조절 */
    max-height: 100vh; /* 이미지가 화면을 넘어가지 않도록 추가 */
  }
}

.box-section {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  z-index: 2;
}

img {
  width: 100%;
  height: 100vh;
}